<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header text-center text-danger">Document Uploads</h5>
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-row">
  
                <div class="form-group">
                    <label>Upload Pan Card</label>
                    <input type="file" name="pancard" class="form-control" [(ngModel)]="document.pancard" #pancard="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pancard.invalid }" required>
                    <div *ngIf="f.submitted && pancard.invalid" class="invalid-feedback">
                        <div *ngIf="pancard.errors.required">Pan Card is required</div>
                    </div>
                </div>
  
                <div class="form-group ">
                    <label>Upload Voter ID Card</label>
                    <input type="file" name="voterid" class="form-control" [(ngModel)]="document.voterid" #voterid="ngModel" [ngClass]="{ 'is-invalid': f.submitted && voterid.invalid }" required>
                    <div *ngIf="f.submitted && voterid.invalid" class="invalid-feedback">
                        <div *ngIf="voterid.errors.required">Voter ID Card is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Upload Salary Slip</label>
                <input type="file" name="salaryslip" class="form-control" [(ngModel)]="document.salaryslip" #salaryslip="ngModel" [ngClass]="{ 'is-invalid': f.submitted && salaryslip.invalid }" required >
                <div *ngIf="f.submitted && salaryslip.invalid" class="invalid-feedback">
                    <div *ngIf="salaryslip.errors.required">Salary Slip is required</div>
                </div>
            </div>
            
            <div class="form-group">
              <label>Upload letter of Authorization</label>
              <input type="file" name="loa" class="form-control" [(ngModel)]="document.loa" #loa="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loa.invalid }" required >
              <div *ngIf="f.submitted && loa.invalid" class="invalid-feedback">
                  <div *ngIf="loa.errors.required">LOA is required</div>
              </div>
          </div>

            <div class="form-group">
                <label>Upload No Objection Certificate</label>
                <input type="file" name="noc" class="form-control" [(ngModel)]="document.noc" #noc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && noc.invalid }" required >
                <div *ngIf="f.submitted && noc.invalid" class="invalid-feedback">
                    <div *ngIf="noc.errors.required">NOC is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Upload Agreement To Sale</label>
                <input type="file" name="agreementtosale" class="form-control" [(ngModel)]="document.agreementtosale" #agreementtosale="ngModel" [ngClass]="{ 'is-invalid': f.submitted && agreementtosale.invalid }" required >
                <div *ngIf="f.submitted && agreementtosale.invalid" class="invalid-feedback">
                    <div *ngIf="agreementtosale.errors.required">Agreement To Sale is required</div>
                </div>
            </div>
  
            <div class="text-center">
                <button class="btn btn-primary mr-1">Next</button>
                <button class="btn btn-secondary" type="reset">Cancel</button>
            </div>
        </form>
    </div>
  </div>
  
  

