<div class="justify-content-center align-content-center d-flex">
<div class="btn-group ">
    <button (click)="viewApplications()" >View all Applications</button>
    <button (click)="viewIncomeList()" >View all Income List</button>
    <button (click)="viewPropertyList()" >View all Property List</button>
    <button (click)="viewLoanList()" >View all Loan List</button>
</div>
</div>
<br />
<br />
<div class="justify-content-center align-content-center d-flex">
<div class="search-id">
    <label for="applicationId"><b>Enter Customer Application No:</b></label>
    <input type="number" placeholder="Enter Application No" name="applicationId" [(ngModel)]="applicationId" required>
    <button (click)="viewAppDetail()" type="submit">Search App Details</button>
    <button (click)="viewIncomeDetail()" type="submit">Search Income Details</button>
    <button (click)="viewPropertyDetail()" type="submit">Search Property Details</button>
    <button (click)="viewLoanDetail()" type="submit">Search Loan Details</button><br />
    <div class="error" *ngIf="showError">
        <p>{{ errorMsg }}</p>
    </div>
</div>
</div>
<br />
<br />
<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showApplication">
    <table style="width:100%">
        <tr>
            <th>Application Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Aadhar</th>
            <th>Pan</th>
            <th>Appointment Date</th>
        </tr>
        <tr *ngFor="let app of applications">
            <td>{{ app.applicationId }}</td>
            <td>{{ app.firstname }}</td>
            <td>{{ app.lastname }}</td>
            <td>{{ app.email }}</td>
            <td>{{ app.phoneNo }}</td>
            <td>{{ app.dateOfBirth }}</td>
            <td>{{ app.aadharNo }}</td>
            <td>{{ app.panNo }}</td>
            <td>{{ app.dateOfAppointment }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showIncomeList">
    <table style="width:100%">
        <tr>
            <th>Income Id</th>
            <th>Employment Type</th>
            <th>Organization Type</th>
            <th>Employer Name</th>
            <th>Application Id</th>
        </tr>
        <tr *ngFor="let income of incomeList">
            <td>{{ income.incomeId }}</td>
            <td>{{ income.typeOfEmployement }}</td>
            <td>{{ income.organizationType }}</td>
            <td>{{ income.employerName }}</td>
            <td>{{ income.applicationId }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showPropertyList">
    <table style="width:100%">
        <tr>
            <th>Property Id</th>
            <th>Property Location</th>
            <th>Property Name</th>
            <th>Estimated Value</th>
            <th>Application Id</th>
        </tr>
        <tr *ngFor="let property of propertyList">
            <td>{{ property.propertyId }}</td>
            <td>{{ property.propertyLocation }}</td>
            <td>{{ property.propertyName }}</td>
            <td>{{ property.estimatedAmount }}</td>
            <td>{{ property.applicationId }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showLoanList">
    <table style="width:100%">
        <tr>
            <th>Loan Id</th>
            <th>Interest Rate</th>
            <th>Loan Amt.</th>
            <th>Max Loan Amt.</th>
            <th>Monthly Income</th>
            <th>Eligibility Status</th>
            <th>Emi startdate</th>
            <th>Emi enddate</th>
            <th>Emi</th>
            <th>Tenure(months)</th>
            <th>Loan Status</th>
            <th>Application Id</th>
        </tr>
        <tr *ngFor="let loan of loanList">
            <td>{{ loan.loanId }}</td>
            <td>{{ loan.interestRate }}</td>
            <td>{{ loan.loanAmount }}</td>
            <td>{{ loan.maxLoanAmount }}</td>
            <td>{{ loan.customerMonthlyIncome }}</td>
            <td>{{ loan.eligibilityStatus }}</td>
            <td>{{ loan.startDate }}</td>
            <td>{{ loan.endDate }}</td>
            <td>{{ loan.emi }}</td>
            <td>{{ loan.tenure }}</td>
            <td>{{ loan.loanStatus }}</td>
            <td>{{ loan.applicationId }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showAppDetail">
    <table style="width:100%">
        <tr>
            <th>Application Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Aadhar</th>
            <th>Pan</th>
            <th>Appointment Date</th>
        </tr>
        <tr>
            <td>{{ appDetail.applicationId }}</td>
            <td>{{ appDetail.firstname }}</td>
            <td>{{ appDetail.lastname }}</td>
            <td>{{ appDetail.email }}</td>
            <td>{{ appDetail.phoneNo }}</td>
            <td>{{ appDetail.dateOfBirth }}</td>
            <td>{{ appDetail.aadharNo }}</td>
            <td>{{ appDetail.panNo }}</td>
            <td>{{ appDetail.dateOfAppointment }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showIncomeDetail">
    <table style="width:100%">
        <tr>
            <th>Income Id</th>
            <th>Employment Type</th>
            <th>Organization Type</th>
            <th>Employer Name</th>
            <th>Application Id</th>
        </tr>
        <tr>
            <td>{{ incomeDetail.incomeId }}</td>
            <td>{{ incomeDetail.typeOfEmployement }}</td>
            <td>{{ incomeDetail.organizationType }}</td>
            <td>{{ incomeDetail.employerName }}</td>
            <td>{{ incomeDetail.applicationId }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showPropertyDetail">
    <table style="width:100%">
        <tr>
            <th>Property Id</th>
            <th>Property Location</th>
            <th>Property Name</th>
            <th>Estimated Value</th>
            <th>Application Id</th>
        </tr>
        <tr>
            <td>{{ propertyDetail.propertyId }}</td>
            <td>{{ propertyDetail.propertyLocation }}</td>
            <td>{{ propertyDetail.propertyName }}</td>
            <td>{{ propertyDetail.estimatedAmount }}</td>
            <td>{{ propertyDetail.applicationId }}</td>
        </tr>
    </table>
</div>

<div style="margin-left: 15px; margin-right: 20px;" *ngIf="showLoanDetail">
    <table style="width:100%">
        <tr>
            <th>Loan Id</th>
            <th>Interest Rate</th>
            <th>Loan Amt.</th>
            <th>Max Loan Amt.</th>
            <th>Monthly Income</th>
            <th>Eligibility Status</th>
            <th>Emi startdate</th>
            <th>Emi enddate</th>
            <th>Emi</th>
            <th>Tenure(months)</th>
            <th>Loan Status</th>
            <th>Application Id</th>
        </tr>
        <tr>
            <td>{{ loanDetail.loanId }}</td>
            <td>{{ loanDetail.interestRate }}</td>
            <td>{{ loanDetail.loanAmount }}</td>
            <td>{{ loanDetail.maxLoanAmount }}</td>
            <td>{{ loanDetail.customerMonthlyIncome }}</td>
            <td>{{ loanDetail.eligibilityStatus }}</td>
            <td>{{ loanDetail.startDate }}</td>
            <td>{{ loanDetail.endDate }}</td>
            <td>{{ loanDetail.emi }}</td>
            <td>{{ loanDetail.tenure }}</td>
            <td>{{ loanDetail.loanStatus }}</td>
            <td>{{ loanDetail.applicationId }}</td>
        </tr>
    </table>
</div>

<!-- <div *ngIf="viewAppDetail">
    <table style="width:100%">
        <tr>
            <th>Application Id</th>
            <th>Firstname</th>
            <th>Middlename</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Nationality</th>
            <th>Aadhar</th>
            <th>Pan</th>
            <th>Appointment Date</th>
            <th>Status</th>
            <th>Account No</th>
            <th>Amount</th>
            <th>Account Type</th>
        </tr>
        <tr *ngFor="let appdetail of appDetail">
            <td><input type="number" placeholder="Enter Application Id" name="applicationId" [(ngModel)]="appdetail.applicationId"></td>
            <td>{{ appdetail.applicationId }}</td>
            <td>{{ appdetail.firstname }}</td>
            <td>{{ appdetail.middlename}}</td>
            <td>{{ appdetail.lastname }}</td>
            <td>{{ appdetail.email }}</td>
            <td>{{ appdetail.phoneNo }}</td>
            <td>{{ appdetail.dateOfBirth }}</td>
            <td>{{ appdetail.nationality}}</td>
            <td>{{ appdetail.aadharNo }}</td>
            <td>{{ appdetail.panNo }}</td>
            <td>{{ appdetail.dateOfAppointment }}</td>
            <td>{{ appdetail.applicationStatusMessage}}</td>
            <td>{{ appdetail.accountNo}}</td>
            <td>{{ appdetail.ammount}}</td>
            <td>{{ appdetail.accountType}}</td>
        </tr>
    </table>
</div>
<div *ngIf="viewIncomeDetail">
    <table style="width:100%">
        <tr>
            <th>Application Id</th>
            <th>Employment Type</th>
            <th>Organization Type</th>
            <th>Employer Name</th>
            <th>Age of Retirement</th>
        </tr>
        <tr *ngFor="let incomedetail of incomeDetail">
            <td><input type="number" placeholder="Enter Application Id" name="applicationId" [(ngModel)]="incomedetail.app"></td>
            <td>{{ incomedetail.income.typeOfEmployement }}</td>
            <td>{{ incomedetail.income.organizationType }}</td>
            <td>{{ incomedetail.income.employerName }}</td>
            <td>{{ incomedetail.income.retirementAge }}</td>
        </tr>
    </table>
</div>

<div *ngIf="viewPropertyDetail">
    <table style="width:100%">
        <tr>
            <th>Application Id</th>
            <th>Property Location</th>
            <th>Property Name</th>
            <th>Estimated Value</th>
        </tr>
        <tr *ngFor="let propertydetail of propertyDetail">
            <td><input type="number" placeholder="Enter Application Id" name="applicationId" [(ngModel)]="propertydetail.applicationId"></td>
            <td>{{ propertydetail.property.propertyLocation }}</td>
            <td>{{ propertydetail.property.propertyName }}</td>
            <td>{{ propertydetail.property.estimatedAmount }}</td>
        </tr>
    </table>
</div> -->

<!-- <div *ngIf="viewLoanDetail">
    <table style="width:100%">
        <tr> -->
            <!-- <th>Application Id</th>
            <th>Loan Amount</th>
            <th>Tenure (Monthly)</th>
            <th>Monthly Income</th>  -->
            <!-- <th>Max Loan Amount</th>
            <th>Interest Rate</th>
            <th>EMI</th>
            <th>Emi startdate</th>
            <th>Emi enddate</th>
            <th>Loan Status</th>
            <th>Eligibility Status</th> -->
        <!-- </tr> -->
        <!-- <tr *ngFor="let loandetail of loanDetail">
            <td><input type="number" placeholder="Enter Application Id" name="applicationId" [(ngModel)]="loandetail.applicationId"></td>
            <td>{{ loandetail.loan.loanAmount }}</td>
            <td>{{ loandetail.loan.tenure }}</td>
            <td>{{ loandetail.loan.customerMonthlyIncome }}</td> -->
            <!-- <td>{{ loandetail.loan.maxLoanAmount }}</td>
            <td>{{ loandetail.loan.interestRate }}</td>
            <td>{{ loandetail.loan.emi }}</td>
            <td>{{ loandetail.loan.startDate }}</td>
            <td>{{ loandetail.loan.endDate }}</td>
            <td>{{ loandetail.loan.loanStatus }}</td>
            <td>{{ loandetail.loan.eligibilityStatus }}</td>    -->
        <!-- </tr>
    </table>
</div> -->

